
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
WPF/.vs/DYMOConnectSampleWPF/v15/*
WPF/packages/DYMO.Connect.SDK.1.2.977/.signature.p7s
WPF/packages/DYMO.Connect.SDK.1.2.977/Build/DYMO.Connect.SDK.targets
*/packages
WPF/WPFSDKSample/bin/*
WPF/WPFSDKSample/obj/*
/SDKMauiSample/.vs
/SDKMauiSample/SDKSample.Droid/obj
/SDKMauiSample/SDKSample.iOS/obj
/SDKMauiSample/SDKSample.Mac/obj
/SDKMauiSample/SDKSample.WinUI/bin
/SDKMauiSample/SDKSample.WinUI/obj
/SDKMauiSample/SDKSample/obj
/VisualBasic_Sample/.vs
/WPF/.vs
/.vs
/VisualBasic_Sample/.vs
/VisualBasic_Sample/.vs
/WPF/.vs
/VisualBasic_Sample/VB_DYMOSDK_Sample/.vs
/VisualBasic_Sample/VB_DYMOSDK_Sample/bin
/VisualBasic_Sample/.vs
/VisualBasic_Sample/VB_DYMOSDK_Sample/obj
/WPF/WPFSDKSample/.vs
